select {
    margin: 10px auto !important;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 20px !important;
}

.addLink a {
    text-decoration: none;
    color: black;
}

.goBackIcon {
    margin-left: 20px !important;
}

.signOutIcon {
    margin-top: 0;
    margin-left: 90vw;
}

.containerAddStatus {
    margin: 0 auto;
    padding: 50px;
    width: 30% !important;
    background-color: rgba(255, 255, 255, .08) !important;
    border-radius: 15px;
}