.push {
    margin-left: 17px;
}

.btnedit {
    border-radius: 20px;
    margin-top: -25px !important;
}

.btnedit:first-child {
    margin-right: 20px;
}

.btnedit:last-child {
    margin-left: 20px;
}

.sizefix {
    width: 200px !important;
    height: 200px !important;
    border: 2px solid white !important;
}

.textName {
    font-size: 30px !important;
    margin-top: -25px !important;
    padding: 0 !important;
    font-weight: 600 !important;
    color: white;
}

.actionButton {
    width: 40px;
}