.mainCircle {
    height: 200px !important;
    width: 200px !important;
    top: 50%;
    left: 50%;
}

.iconCenter {
    color: rgba(255, 255, 255, 0.78) !important;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    top: 50%;
    left: 50%;
}

.iconCenterMain {
    top: 50%;
    left: 50%;
    margin-left: 0px;
}

.textPropName {
    font-size: 18px;
    color: white;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 140px;
}

.textPropName1 {
    color: rgba(255, 255, 255, 0.78) !important;
    font-size: 10px;
    color: white;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 70%;
}

.circle {
    height: 120px;
    width: 120px;
    border-radius: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.circle:nth-child(2) {
    top: 15%;
    left: 50%;
}

.circle:nth-child(3) {
    top: 85%;
    left: 50%;
}

.circle:nth-child(4) {
    top: 50%;
    left: 30%;
}

.circle:nth-child(5) {
    top: 50%;
    left: 70%;
}