.white-border {
    border-bottom: 2px solid white !important;
}

.btn-center {
    margin: 0 auto;
    margin-top: 35px;
}

.move {
    margin-left: 30px !important;
}

.containerUpdate {
    margin: 0 auto;
    margin-top: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 30% !important;
    background-color: rgba(255, 255, 255, .08) !important;
    border-radius: 15px;
}

.titleUpdate {
    margin-top: -30px;
    margin-bottom: 60px;
}

select:first-of-type {
    color: white !important;
}

option {
    color: black !important;
}