.container {
    margin: 0 auto;
    margin-top: 10%;
    padding: 50px;
    width: 30% !important;
    background-color: rgba(255, 255, 255, .08) !important;
    border-radius: 15px;
}

.logreginput {
    border-radius: 10px;
    outline: none;
    color: white !important;
}